/* light color: f5ded9
dark color: f14139 */

@font-face {font-family: "Langdon";
    src: url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.eot");
    src: url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.svg#Langdon") format("svg");
  }

#navbar {
    background-color: #f5ded9;
    color: #f14139;
    font-family: "Langdon";
}

.mainButton {
    color: #f14139;
    font-size: 2em;
    border-color: #f14139
}

.button {
    color: #f14139;
    font-size: 1.5em;
    border-color: #f14139;
    margin-right: 2em;
}