/* light color: f5ded9
dark color: f14139 */

@font-face {font-family: "Langdon";
    src: url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.eot");
    src: url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f4b819bb8e3dcf620c21806e8036adbf.svg#Langdon") format("svg");
  }

* { box-sizing: border-box; }

.spotify {
  width: 100%;
  text-align: center;
  background-color: #f5ded9;
  color: #f14139;
  font-family: 'Langdon';
  padding-top: 50px;
  margin-bottom: 0%;
}

.homeGIF {
  height: 80vh;
  width: 100%;
}

.homeGIF>img{
  height: 100%;
  width: 100%;
}